<div>
  <%= render @user %>
</div>

<%= link_to new_user_post_path(@user.id) do%>
  <%= render 'button-plus' %>
<% end %>

<div>
  <% @posts.each do |post| %>
    <div class="fix-header">
      <%= render post %>
    </div>
    <div>
      <%= render post.recent_comments, post: post %>
    </div>
  <% end %>
</div>