<div>
  <%= render @user %>
</div>

<%= link_to new_user_post_path(@user.id) do%>
  <%= render 'add-button' %>
<% end %>

<div>
  <% @posts.each do |post| %>
    <%= render post %>
    <%= render post.recent_comments %>
  <% end %>
</div>