<div>
  <%= render @post %>
</div>

<div>
  <%= render @post.comments, post: @post %>
</div>

<div class="buttons">
  <%= link_to new_user_post_comment_path(@user.id, @post.id) do%>
    <%= render 'button-plus' %>
  <%end%>

  <div class='button_to'>
    <button type="submit">
      <%= link_to 'Close', user_posts_path %>
    </button>
  </div>
</div>