<div>
  <%= render @post %>
</div>

<%= link_to new_user_post_comment_path(@user.id, @post.id) do%>
  <%= render 'add-button' %>
<%end%>

<div>
  <%= render @post.comments %>
</div>

<div class='button_to'>

  <button type="submit">
    <%= link_to 'Close', user_posts_path %>
  </button>
  
</div>
