<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="nav-bar">
      <% if user_signed_in? %>
      <%= link_to "Home", users_path %>
      <p><%= current_user.name %></p>
      <%= button_to "Sign out", destroy_user_session_path, :method => :delete, data:{turbo:false} %>
      <% end %>
    </div>
    <p class="notice"><%=notice %></p>
    <p class="alert"><%=alert %></p>
    <%= yield %>
  </body>
</html>
